
.auth__body {
    background-color: #504D60;
}

.auth-data__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.auth-data__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    font-weight: bold;
    margin-right: 10px;
    font-size: 5vh;
    padding-left: 1vw;
}


/*Page-Signup__Main*/
.page-signin__main {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15vh;
}

.auth-data__section {
    background-color: #ECDDDD;
    width: fit-content;
    border: 3vh solid #ECDDDD;
}

.auth__main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

