.hidden {
    display: none;
}

.paragraph {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 1.63rem;
    color: var(--text-color);
    text-align: left;

    font-size: var(--paragraph-size);
    font-weight: 500;
    font-family: var(--paragraph);
}

.form__input-file:hover,
.form__input-file:focus {
    color: var(--primary-color);
    cursor: pointer;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color:#504d60;
    min-width: 370px;
}

.container {
    background-color: #ECDDDD;
    margin: 10vh auto;
    padding: 15px 25px;
    max-width: 370px;
    width: 100%;
    height: auto;
}

.auth-data__header {
    text-align: center;
    padding-top: 5px;
}

.main__form {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__input-field {
    display: flex;
    border: none;
    border: 1px solid gray;
    border-bottom: 0.2rem  solid #252b42;
    padding: 7px;
    background-color: #ebebeb;
    font-size: 1.12rem;
    padding-left: 0.85rem;
    width: 94%;
    margin-bottom: 10px;
}

.form__submit-btn {
    background-color: #354545;;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 330px;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        max-width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 270px;
    }
}
