.monopoly {
    align-self: stretch;
    position: relative;
}
.navbar-brand {
    width: 27.94rem;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-6xs) 0;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: flex-start;
}
.link,
.link1 {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.31rem;
    height: 6.25rem;
    flex-shrink: 0;
}
.link1 {
    width: 16.63rem;
    height: 6.69rem;
}
.navbar,
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-nav {
    width: 32.94rem;
    flex-shrink: 0;
    overflow: hidden;
    align-items: baseline;
    font-size: var(--font-size-21xl);
    font-family: var(--font-montserrat);
}
.navbar {
    align-self: stretch;
    background-color: var(--color-gainsboro);
    align-items: center;
}
.available-games {
    flex: 1;
    position: relative;
}
.btn-area {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-dimgray);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
}
.sign-in {
    position: absolute;
    height: 37.5%;
    width: 58.76%;
    top: 30.55%;
    left: 20.62%;
    font-size: var(--font-size-5xl);
    text-transform: capitalize;
    font-weight: 500;
    font-family: var(--font-montserrat);
    color: var(--color-white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.btn-signin {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 17.29rem;
    height: 3.2rem;
    flex-shrink: 0;
    max-width: 8.81rem;
    max-height: 8.81rem;
}*/
/*.btn-signin-wrapper,
.games-list-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}*/
.games-list-header {
    align-self: stretch;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: 1.88rem;
    font-size: var(--font-size-13xl);
    color: var(--color-dimgray);
    font-family: var(--font-inter);
}
.ignat,
.player-avatar-icon {
    position: relative;
    flex-shrink: 0;
}
.player-avatar-icon {
    width: 6.31rem;
    height: 6.31rem;
    object-fit: cover;
}
.ignat {
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.81rem;
    height: 2.56rem;
}
.player1,
.player3-icon {
    flex: 1;
    overflow: hidden;
    height: 9.38rem;
}
.player1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.player3-icon {
    position: relative;
    max-width: 100%;
}
.game1 {
    align-self: stretch;
    background-color: var(--color-dimgray);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xl);
}
.player2-icon {
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 9.63rem;
}
.game2 {
    align-self: stretch;
    background-color: var(--color-dimgray);
    overflow: hidden;
    flex-direction: row;
    gap: 1.56rem;
}
.available-games-section,
.game2,
.game3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.game3 {
    align-self: stretch;
    background-color: var(--color-dimgray);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-9xs) 0;
    gap: var(--gap-2xl);
}
.available-games-section {
    flex: 1;
    background-color: var(--color-gainsboro);
    flex-direction: column;
    padding: 0 1.38rem;
    gap: var(--gap-4xs);
}
.profile,
.profile-section-child {
    align-self: stretch;
    position: relative;
}
.profile {
    text-transform: capitalize;
    font-weight: 500;
}
.profile-section-child {
    height: 3.69rem;
    flex-shrink: 0;
    overflow: hidden;
}
.profile-section-item {
    position: relative;
    width: 16.25rem;
    height: 15.81rem;
    flex-shrink: 0;
    object-fit: cover;
}
.div,
.div1,
.games,
.wins-row {
    font-weight: 500;
    display: flex;
    align-items: center;
}
.wins-row {
    border: 0;
    background-color: transparent;
    font-family: var(--font-montserrat);
    font-size: var(--font-size-13xl);
    align-self: stretch;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}
.div,
.div1,
.games {
    position: relative;
    text-transform: capitalize;
    width: 10.75rem;
    height: 2.75rem;
    flex-shrink: 0;
}
.div,
.div1 {
    width: 0.63rem;
    height: 2.88rem;
}
.div1 {
    width: 12.69rem;
}
.games-row {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.div2 {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 0.81rem;
    height: 2.88rem;
    flex-shrink: 0;
}
.profile-section,
.statistics-section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.statistics-section {
    overflow: hidden;
    padding: 1.19rem 0;
    align-items: flex-end;
    gap: var(--gap-3xs);
    text-align: left;
}
.profile-section {
    background-color: var(--color-gainsboro);
    align-items: center;
}
.connect-by-code {
    align-self: stretch;
    position: relative;
    font-weight: 500;
}
.code-input-field {
    border: 0;
    font-weight: 500;
    font-family: var(--font-montserrat);
    font-size: 1.25rem;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/*.btn-signin1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 14.81rem;
    height: 3.88rem;
    flex-shrink: 0;
    display: none;
    max-width: 14.81rem;
    max-height: 8.81rem;
}*/
.conect-section,
.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.conect-section {
    align-self: stretch;
    background-color: var(--color-gainsboro);
    align-items: center;
    gap: var(--gap-lgi);
    color: #000;
}
.middle-section {
    flex: 1;
    overflow: hidden;
    align-items: flex-start;
    gap: var(--gap-2xl);
    font-size: var(--font-size-13xl);
    color: var(--color-dimgray);
}
/*.btn-signin2,
.player15 {
    width: 8.81rem;
    flex-shrink: 0;
}*/
.player15 {
    height: 9.38rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
/*.btn-signin2 {
    border: 0;
    background-color: transparent;
    font-weight: 500;
    font-family: var(--font-montserrat);
    font-size: var(--font-size-5xl);
    position: relative;
    height: 3.88rem;
    max-width: 8.81rem;
    max-height: 8.81rem;
}*/
.current-game {
    flex: 1;
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: column;
    padding: var(--padding-9xs) 0.81rem;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
}
.logged-in-lobby,
.main {
    overflow: hidden;
    display: flex;
    align-items: center;
}
.main {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-3xs);
    font-size: 0.96rem;
    color: var(--color-white);
    font-family: var(--font-montserrat);
}
.logged-in-lobby {
    position: relative;
    background-color: var(--color-dimgray);
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.88rem;
    text-align: center;
    font-size: var(--font-size-45xl);
    color: var(--color-dimgray);
    font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
    .navbar {
        flex-direction: row;
        gap: 10rem;
        align-items: center;
        justify-content: center;
    }
    .game1,
    .games-list-header {
        flex-direction: row;
        justify-content: flex-start;
    }
    .games-list-header {
        gap: 18.75rem;
        align-items: center;
    }
    .game1 {
        gap: var(--gap-2xl);
        align-items: flex-start;
    }
    .available-games-section,
    .current-game,
    .middle-section {
        flex: unset;
        align-self: stretch;
    }
    .main {
        flex-direction: column;
        gap: var(--gap-lgi);
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 960px) {
    .navbar {
        flex-direction: row;
        gap: var(--gap-12xs);
        align-items: center;
        justify-content: center;
    }
    .game1,
    .games-list-header {
        flex-direction: row;
        justify-content: flex-start;
    }
    .games-list-header {
        gap: 12.44rem;
        align-items: center;
    }
    .game1 {
        gap: var(--gap-2xl);
        align-items: flex-start;
    }
    .available-games-section,
    .current-game,
    .middle-section {
        flex: unset;
        align-self: stretch;
    }
    .main {
        flex-direction: column;
        gap: var(--gap-lgi);
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 420px) {
    .navbar,
    .navbar-nav {
        flex-direction: row;
        gap: var(--gap-12xs);
        align-items: center;
        justify-content: center;
    }
    .navbar {
        flex-direction: column;
        gap: var(--gap-4xs);
    }
    .available-games {
        flex: unset;
        align-self: stretch;
    }
    .games-list-header {
        flex-direction: column;
        gap: 0.44rem;
        align-items: center;
        justify-content: flex-start;
    }
    .game1 {
        flex-direction: row;
        gap: var(--gap-3xs);
        align-items: flex-start;
        justify-content: flex-start;
    }
    .available-games-section,
    .current-game,
    .middle-section {
        flex: unset;
        align-self: stretch;
    }
    .main {
        flex-direction: column;
        gap: var(--gap-lgi);
        align-items: center;
        justify-content: center;
    }
}
